/** CSS Reset - Reseting some default browse's styles. */
*,
*::before,
*::after {
  --bg-border: #d8d8d8;
  --card-bg-color: #f7f7f7;
  --placeholder-bg-color: #d6d6d6;
  --border-radius: 0.5rem;

  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

body {
  line-height: 1.5;
}
