/** CSS Reset - Reseting some default browse's styles. */
*,
*::before,
*::after {
  --bg-border: #e2e2e2;
  --card-bg-color: #f7f7f7;
  --placeholder-bg-color: #eaeaea;
  --border-radius: 0.5rem;
  --picsart-primary: #c208c1;
  --picsart-accent: #5a00ee;

  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

body {
  line-height: 1.5;
}