.icon-btn {
  border: none;
  background-color: transparent;
  border-radius: 100%;
  max-width: 2rem;
  max-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  &.active {
    background-color: #dcdcdc;
  }
}

.color-drop-icon {
  width: 1.2rem;
  height: 1.2rem;
}
